footer {
    background-color: black;
    color: white;
    > .footer-newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 10px;
        > p {
            padding-right: 20px;
            margin-bottom: 32px;
        }
        > .footer-divInput {
            border: 1px solid white;
            border-radius: 50px;
            width: 47vw;
            height: 60px;
            justify-content: space-between;
            display: flex;
            > input, > button {
                background-color: transparent;
                border: none;
                color: white;
                padding-right: 20px;
                padding-left: 20px;
                > img {
                    width: 5px;
                    margin-left: 6px;
                }
            }
            .abonnement-Ok {
                display: none;
            }
        }
    }
    > .footer-information {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 90px;
        > div {
            > nav.footer-nav > ul {
            list-style: none;
                > li {
                    border-bottom: 1px solid;
                    padding: 10px 0px 20px 0px;
                    width: 38vw;
                    display: flex;
                    justify-content: space-between;
                    > img {
                        width: 12px;
                    }
                }
            } 
            > .footer-icones {
                justify-content: space-between;
                display: flex;
                width: 25vw;
                > img {
                    border: 1px solid;
                    border-radius: 100px;
                    padding: 14px;
                }
            }
        }
    }
    > .footer-basDePage {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid;
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20vw;
            > p > img {
                margin-left: 2px;
                width: 11px;
            }
        }
    }
}

@media (max-width: 800px) {
    footer {
        .footer-newsletter {
            flex-wrap: wrap;
            > p {
                margin-bottom: 32px;
                width: 90vw;
                text-align: center;
            }
            > .footer-divInput {
                width: 90vw;
                .abonnement {
                    display: none;
                }
                .abonnement-Ok {
                    display: block;
                }
            }
        }
        .footer-information {
            flex-wrap: wrap;
            width: 90vw;
            padding-left: 10vw;
            padding-right: 10vw;
            padding-top: 0vw;
            padding-bottom: 0vw;
            div > nav.footer-nav > ul {
                padding-left: 2vw;
                > li {
                    width: 70vw;
                }
            }
            > div > .footer-icones {
                width: 73vw;
            }
        }
        .footer-basDePage {
            flex-wrap: wrap;
            margin-top: 30px;
            > div {
                width: 82vw;
            }
            > p {
                width: 82vw;
                margin-top: 18px;
            }
        }
    }
}