footer {
    background-color: black;
    color: white;
    > .footer-newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 10px;
        > p {
            padding-right: 20px;
            margin-bottom: 32px;
        }
        > .footer-divInput {
            border: 1px solid white;
            border-radius: 50px;
            width: 47vw;
            height: 60px;
            justify-content: space-between;
            display: flex;
            > input, > button {
                background-color: transparent;
                border: none;
                color: white;
                padding-right: 20px;
                padding-left: 20px;
                > img {
                    width: 5px;
                    margin-left: 6px;
                }
            }
        }
    }
    > .footer-information {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 90px;
        > div {
            > nav.footer-nav {
                width: 43vw;
                > ul {
                list-style: none;
                width: 38vw;
                    > li {
                        border-bottom: 1px solid;
                        padding: 10px 0px 20px 0px;
                        width: 38vw;
                        display: flex;
                        justify-content: space-between;
                        > img {
                            width: 12px;
                        }
                    }
                }
            } 
            > .footer-icones {
                justify-content: space-between;
                display: flex;
                width: 25vw;
                > img {
                    border: 1px solid;
                    border-radius: 100px;
                    padding: 14px;
                }
            }
        }
    }
    > .footer-basDePage {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid;
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20vw;
            > p > img {
                margin-left: 2px;
                width: 11px;
            }
        }
    }
}

