header {
    > nav.nav-mobile {
        display: none;
    }
    > nav.nav-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 124px;
        padding-left: 6.4vw;
        padding-right: 6.4vw;
        > ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-left: 0px;
            > li {
                list-style: none;
                margin-left: 20px;
                > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    position: relative;
                    height: 19vh;
                    > img {
                        padding-right: 5px;
                    }
                    > #trait1 {
                        position: absolute;
                        top: 70px;
                    }
                }
            }
        }
        #logo {
            position: absolute;
            top: 31px;
            right: 45vw;
            height: 68px;
        }
    }
    
    .bandeau {
        background-color: $color-primary;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 2vw;
        padding-right: 2vw;
        > p {
            margin-top: 0px;
            margin-bottom: 0px;
            > a {
                margin-left: 10px;
            }
        }
    }
    
    .header {
        background-image: url("../../public/img/header/header.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 610px;
        text-align: center;
        position: relative;
        > .header-ligne {
            width: 24vw;
            position: absolute;
            top: 225px;
            right: 13.5vw;
            @media (max-width: 800px) {
                width: 41.6vw;
                top: 268px;
                right: 27.2vw;
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        > nav.nav-mobile {
            display: flex;
            width: 82vw;
            justify-content: space-between;
            align-items: center;
            height: 125px;
            padding-left: 6.4vw;
            padding-right: 6.4vw;
            > ul {
                display: flex;
                width: 16vw;
                list-style: none;
                justify-content: space-between;
                align-items: center;
                padding-left: 0px;
            }
            > #logo {
                top: 27px;
                right: 36vw;
            }
        }
        > nav.nav-desktop {
            display: none;
        }
        .bandeau > p > a {
            margin-left: 0px;
        }
    }
}

