html, header, main, footer { 
    overflow-x: hidden !important; 
}​

body {
    margin: 0px;
    overflow-x: hidden !important;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}