@font-face {
    font-family: 'Roober';
    src: url('../../.public/font/DP_roobert/Roobert-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Inter';
    src: url('../../.public/font/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

h1 {
    color: white;
    font-family: 'Roober';
    font-size: 5.625rem;
    font-weight: 900;
    line-height: 80px;
}
@media (max-width: 800px) {
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: 32px;
    }
}

.h2 {
    font-family: 'Roober';
    font-size: 3.125rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 64px;
    &__section4-h2NoMarginBot {
        margin-bottom: 0px !important;
    }
}
@media (max-width: 800px) {
    .h2 {
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 40px;
    }
}

h3, .h3-large {
    font-family: 'Roober';
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.h3-medium {
    font-size: 1.5rem;
    margin-top: 23px;
}

.h3-large {
    font-size: 2rem;
}

h4 {
    font-family: 'Roober';
    font-size: 0.813rem;
}
@media (max-width: 800px) {
    h4 {
        margin-top: 8px;
    }
}

p {
    font-family: 'Roober';
    font-size: 1.125rem;
    margin-bottom: 30px;
}

.p-large {
    font-family: 'Roober';
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.p-small, .footer-copyright {
    font-size: 1rem;
    margin-top: 5px;
}

.footer-copyright {
    margin-bottom: 0px;
}

span {
    font-family: 'Inter';
    font-size: 0.875rem;
    margin-top: 120px;
    text-transform : uppercase;
}
@media (max-width: 800px) {
    span {
        margin-top: 64px;
    }
}

nav {
    font-family: 'Roober';
    font-size: 1rem;
    font-weight: 500;
}

.footer-nav {
    font-family: 'Roober';
    font-size: 1.5rem;
    font-weight: 600;
}

input {
    font-family: 'Roober';
    font-size: 1rem;
    font-weight: 400;
}
