@import '../utils/variables';

.section {
    &__green {
        background-color: $color-secondary;
    }
    > div {
        display: flex;
        justify-content: center;
        text-align: left;
        div {
            width: 18.75vw;
            margin-right: 32px;
            > figure {
                width: 18.75vw;
                height: 220px;
                border-radius: 6px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px;
                > img {
                    height: 15.2vw;
                }
            }
            > figcaption {
                text-align: left;
            }
        }      
    }
}
@media (max-width: 800px) {
    .section__green {
        padding-bottom: 702px;
    }
    .section > div.caroussel {
        margin-left: 600px;
        margin-bottom: 64px;
        > div {
            width: 56.8vw;
            figure {
                width: 56.8vw;
                > img {
                    width: 56.8vw;
                    height: auto;
                }
            }
        }
    } 
}

.section1-etiquette {
    margin-left: 300px;
}

.section1-arrows {
    margin-bottom: 109px;
    width: 90vw;
    justify-content: right !important;
    > img.arrow-margin {
        margin-right: 8px;
    }
}
@media (max-width: 800px) {
    .section > div.section1-arrows {
        display: none;
    }
}

.section2-titre {
    width: 41.8vw;
    justify-content: space-between !important;
    align-items: baseline;
    > img#coeur {
        position: absolute;
        right: 480px;
    }
    > img#union {
        height: 37px;
    }
}
@media (max-width: 800px) {
    .section2-titre {
        width: 91.8vw;
        > img#coeur {
            position: absolute;
            right: 106px;
            top: 1418px;
            width: 18vw;
        }
        > img#union {
            width: 27.2vw;
            height: auto;
        }
    }
}

div.section2-img-mobile {
    display: none;
}
div.section2-img-destop {
    width: 88.3vw;
    height: 600px;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 227px;
    > img {
        height: 600px;  
    }
}
@media (max-width: 800px) {
    div.section2-img-destop {
        display: none;
    }
    div.section2-img-mobile {
        display: block;
        height: 245px;
        > img {
            height: 245px;
        }
    }
}

.section2-encadre {
    background-color: white;
    border-radius: 6px;
    flex-direction: column;
    padding-left: 3.6vw;
    padding-right: 3.6vw;
    padding-bottom: 30px;
    width: 35.5vw;
    height: 327px;
    position: absolute;
    right: 13.4vw;
    top: 2225px;
}
@media (max-width: 800px) {
    .section2-encadre {
        right: 6vw;
        top: 1689px;
        width: 65.5vw;
        padding-top: 30px;
    }
}

.section3-titre {
    width: 90vw;
    > img {
        margin-top: 35px;
    }
}

.section3-colones {
    justify-content: space-around !important;
    width: 60vw;
    > .section3-coloneImg {
        flex-direction: column;
        > div {
            > figure {
                width: 28vw;
                height: 540px;
                overflow: hidden;
                border-radius: 6px;
                > img {
                    width: 32vw;
                    height: auto;
                }
            }
            > .section3-figNoMarginBot {
                margin-bottom: 0px;
            }
            > .section3-figMarginTop {
                margin-top: 65px;
            }
        }
    }
}

.section4 {
    flex-direction: row;
    background-color: $color-tertiary;
    height: 700px;
    > .section4-div {
        flex-direction: column;
        padding: 50px;
        padding-left: 90px;
        padding-right: 90px;
    }
}
