@import '../utils/variables';

.section {
    &__green {
        background-color: $color-secondary;
        position: relative;
    }
    > div {
        display: flex;
        justify-content: center;
        text-align: left;
        div {
            width: 18.75vw;
            margin-right: 32px;
            > figure {
                width: 18.75vw;
                height: 220px;
                border-radius: 6px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px;
                > img {
                    height: 15.2vw;
                }
            }
            > figcaption {
                text-align: left;
            }
        }      
    }
}
@media (max-width: 800px) {
    .section > div div {
        width: 40vw;
    }
    .section__green {
        height: 702px;
        justify-content: initial;

        > img.section1-trait {
            position: absolute;
            top: 914px;
            right: 34px;
            width: 21vw;
        }
    }
}
.section.carousel {
    position: relative;
    > img.section1-trait {
        position: absolute;
        top: 202px;
        right: 32.3vw;
        width: 9vw;
    }
}
@media (max-width: 800px) {
    .section.carousel {
        .h2 {
            margin-bottom: 0px;
        }
        > img.section1-trait {
            top: 122px;
            right: 10vw;
            width: 18vw;
        }
    }
}

.carousel-items {
    display: flex;
    overflow-x: visible;
	margin-left: 5.8vw;
    scroll-snap-type: x mandatory;
	text-align: left;
	list-style: none;
    .carousel-item {
        flex: 1 0 22vw;
        margin-left: 0rem;
        scroll-snap-align: start;
        .card-carousel {
            width: 20vw;
            > figure {
                margin-left: 0px;
                > img {
                    width: 20vw;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .carousel-items {
        overflow-x: scroll;
        padding: 4rem;
        padding-top: 0px;
        margin-left: 27.3vw;
        .carousel-item {
            flex: 1 0 60vw;
            > .card-carousel {
                > figure {
                    margin-left: 0px;
                    > img {
                        width: 56.8vw;
                    }
                }
                .card-content > figcaption {
                    width: 53vw;
                }
            }
        }
    }
}

::-webkit-scrollbar-track {
    background-color: grey;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 3px;
}

.section1-arrows {
    margin-bottom: 109px;
    width: 80vw;
    justify-content: right !important;
    > img.arrow-margin {
        margin-right: 8px;
    }
}
@media (max-width: 800px) {
    .section > div.section1-arrows {
        display: none;
    }
}

.section2-titre {
    width: 80vw;
    align-items: baseline;
    position: relative;
    > .h2 {
        margin-right: 3.4vw;
    }
    > img#coeur {
        position: absolute;
        right: 29.5vw;
    }
    > img#union {
        height: 37px;
    }
}
@media (max-width: 800px) {
    .section2-titre {
        width: 91.8vw;
        > .h2 {
            margin-right: 5.3vw;
        }
        > img#coeur {
            position: absolute;
            right: 24.2vw;
            top: -10px;
            width: 18vw;
        }
        > img#union {
            width: 27.2vw;
            height: auto;
        }
    }
}

div.section2-img-mobile {
    display: none;
}
div.section2-img-destop {
    width: 88.3vw;
    height: 600px;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 227px;
    > img {
        height: 600px;  
    }
}
@media (max-width: 800px) {
    div.section2-img-destop {
        display: none;
    }
    div.section2-img-mobile {
        display: block;
        height: 245px;
        > img {
            height: 245px;
        }
    }
}

.section2-encadre {
    background-color: white;
    border-radius: 6px;
    flex-direction: column;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-bottom: 30px;
    width: 28.7vw;
    height: 327px;
    position: absolute;
    right: 12.4vw;
    top: 616px;
}
@media (max-width: 800px) {
    .section2-encadre {
        right: 6vw;
        top: 364px;
        width: 59vw;
        height: 301px;
        padding: 0px 6.4vw 0px 6.4vw;
    }
}

.section3-titre {
    width: 90vw;
    position: relative;
    > h2.h2.h2-mobile {
        display: none;
    }
    > img {
        margin-top: 35px;
    }
}
@media (max-width: 800px) {
    .section3-titre {
        > h2.h2.h2-mobile {
            display: block;
            text-align: center;
            width: 54vw;  
        }
        > img {
            position: absolute;
            right: 2vw;
            top: -18px;
            width: 11vw;
        } 
        > h2.h2.h2-desktop {
            display: none;
        }
    }
}

.section3-colones {
    justify-content: space-around !important;
    width: 60vw;
    padding-bottom: 120px;
    > .section3-coloneImg {
        flex-direction: column;
        > div {
            > figure {
                width: 28vw;
                height: 540px;
                overflow: hidden;
                border-radius: 6px;
                > img {
                    width: 32vw;
                    height: auto;
                }
            }
            > .section3-figNoMarginBot {
                margin-bottom: 0px;
            }
            > .section3-figMarginTop {
                margin-top: 65px;
            }
        }
    }
}
@media (max-width: 800px) {
    .section3-colones {
        width: 90vw;
        padding-bottom: 64px;
        > .section3-coloneImg {
            width: 40vw;
            margin-right: 5vw;
            > div {
                > figure {
                    height: 209px;
                    width: 41.6vw;
                    > img {
                        width: 44vw;
                    }
                }
                > .section3-figNoMarginBot {
                    width: 40vw;
                }
            }

        }
    }
}
.section4 {
    flex-direction: row;
    background-color: $color-tertiary;
    height: 700px;
    > .section4-div {
        flex-direction: column;
        padding: 50px 12vw 50px 12vw;
        width: 27.2vw;
        > .pSupplementaire {
            display: none;
        }
        > #decouvrir {
            display: none;
        }
    }
}
@media (max-width: 800px) {
    .section.section4 {
        flex-direction: column-reverse;
        > div {
            padding-left: 6.4vw;
            padding-right: 6.4vw;
            height: 378px;
            > img {
                width: 100vw;
                height: auto;
            }
        
        } 
        .section4-div {
            width: 74vw;
            > .pSupplementaire {
                display: block;
            }
            > #decouvrir {
                display: block;
            }
            > #nousContacter {
                display: none;
            }
        }
    }
}

